body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 405px;
  background-color: black;
  color: white;
}

.header-text {
  display: inline-block;
  margin: auto;
  padding: 40px;
  left: 50%;
}

.img-header {
  float: right;
  right: 50%;
  height: 350px;
  width: auto;
}

#outer-nav {
  margin: auto;
  padding-bottom: 5px;
}

#inner-nav {
  top: 2.5%; 
  background-color: rgb(0, 0, 0);
  height: 50px;
}

.nav-list {
  list-style-type: none;
  margin: auto;
  padding: auto;
  display: block;
  float: right;
}

.nav-list-li {
  display: block;
  float: right;
  padding-top: 15px;
}

.nav-list-links {
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.nav-list-links:hover {
  background-color: rgb(243, 160, 160);
}

img {
  width: 100%;
  height: 100%;
}

li a {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* li a:hover {
 
} */

.repo-div {
  padding: 75px;
}

.repo-cards {
  display: inline-block;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(241, 110, 110, 0.911);
  transition: 0.3s;
  width: 600px;
  background-color: rgba(223, 224, 224, 0.344);
  text-align: center;
  height: 500px;
}

.repo-card-titles {
  padding-top: 15px;
}

.repo-card-descr {
  padding: 1px;
}

.repo-card-images {
  padding: 30px;
  align-items: center;
  height: auto;
  width: 500px;
}

.about-div {
  padding: 75px;
}

#about-para {
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(223, 224, 224, 0.344);
  box-shadow: 0 4px 8px 0 rgba(241, 110, 110, 0.911);
}

.contact-div {
  background-color: black;
  color: white;
  padding: 50px;
}

svg {
  height: auto;
  width: 20%;
}